ipykernel
langchain
langchain_community
langgraph
langserve[all]
python-dotenv
langchain_openai
openai
fastapi
langchain_core
wikipedia
faiss-cpu
chromadb
pydantic[email]
duckduckgo-search
yfinance
grandalf
tavily-python
langgraph_supervisor