livekit-agents[deepgram,openai,cartesia,silero,turn-detector,google,metrics]~=1.0
livekit-plugins-noise-cancellation~=0.2
python-dotenv
logging
pinecone
langchain_openai
langchain_core
langgraph
scikit-learn
numpy